

body {
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
   
    
}

.login-container {
    width: 100%;
    max-width: 400px;
    padding: 40px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    
   
   
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    border-radius: 50%;
    border-radius: 50%;
    

}


.logo img {
    max-width: 100%;
    height: auto;
}

h2 {
    color: #333;
}

.login-form {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}


button#login-btn {
    width: 100%;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

button#login-btn:hover {
    background-color: #0056b3;
}

.messages {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.messages li {
    font-weight: bold;
    margin-top: 5px;
}

.messages .error {
    color: red;
}

.messages .success {
    color: green;
}

 div:nth-child(2) label, div:nth-child(3) label{
    
    text-align: left;
    text-indent: 5px;
}

.connecter{

font-weight: bold;
font-size: larger;
margin-bottom: 30px;
margin-top: 30px;
color: #333;

}